# Storage settings (in bytes)
MAX_FILE_SIZE=8388608
STORAGE_LIMIT=32212254720

# Admin credentials
ADMIN_PASSWORD=1234

# SMTP Settings for email sending
SMTP_SERVER=smtp.example.com
SMTP_PORT=465
SMTP_USERNAME=your_username
SMTP_PASSWORD=your_password
SENDER_EMAIL=noreply@example.com

# Flask secret key (leave blank until you generate one)
SECRET_KEY=
