{% extends "base.html" %}

{% block title %}
    Редактирование суда
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1>Редактирование суда</h1>
            <hr />
        </div>

        <form method="post">
            <div class="form-group">
                <label for="exampleInputTitle1">Название суда</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputTitle1"
                    name="title"
                    value="{{ court.title }}"
                    aria-describedby="titleHelp"
                    placeholder="Введите название суда"
                />
            </div>
            <div class="form-group">
                <label for="exampleInputAddress1">Адрес суда</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputAddress1"
                    name="address"
                    value="{{ court.address }}"
                    placeholder="Введите адрес суда"
                />
            </div>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button
                    type="button"
                    class="btn btn-danger ml-2"
                    onclick="deleteCourt(this)"
                    data-court-id="{{ court.id }}"
                >
                    Удалить
                </button>
            </div>
        </form>
    </div>
{% endblock %}
