{% extends "base.html" %}

{% block title %}
    Редактирование дела
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1>Редактирование дела</h1>
            <hr />
        </div>

        <form method="post">
            <div class="form-group">
                <label for="title">Заголовок дела</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    value="{{ case.title }}"
                    placeholder="Введите заголовок дела"
                />
            </div>
            <div class="form-group">
                <label for="details">Детали дела</label>
                <textarea
                    class="form-control"
                    id="details"
                    name="details"
                    placeholder="Введите детали дела"
                >
{{ case.details }}</textarea
                >
            </div>
            <div class="form-group">
                <label for="full_name">ФИО клиента</label>
                <input
                    type="text"
                    class="form-control"
                    id="full_name"
                    name="full_name"
                    value="{{ case.full_name }}"
                    placeholder="Введите ФИО клиента"
                />
            </div>
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input
                    type="text"
                    class="form-control"
                    id="phone"
                    name="phone"
                    value="{{ case.phone }}"
                    placeholder="Введите телефон"
                />
            </div>
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary">Сохранить</button>
                <button
                    type="button"
                    class="btn btn-danger ml-2"
                    onclick="deleteCase(this)"
                    data-case-id="{{ case.id }}"
                >
                    Удалить
                </button>
                <a href="/case-files/{{ case.id }}" class="btn btn-info ml-2">Файлы</a>
            </div>
        </form>
    </div>
{% endblock %}
