{% extends "base.html" %}

{% block title %}
    Новое дело
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1>Новое дело</h1>
            <hr />
        </div>

        <form method="post">
            <div class="form-group">
                <label for="exampleInputTitle1">Заголовок дела</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputTitle1"
                    name="title"
                    placeholder="Введите заголовок дела"
                />
            </div>
            <div class="form-group">
                <label for="exampleInputDetails1">Детали дела</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputDetails1"
                    name="details"
                    placeholder="Введите детали дела"
                />
            </div>
            <div class="form-group">
                <label for="exampleInputFullName1">ФИО клиента</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputFullName1"
                    name="full_name"
                    placeholder="Введите ФИО клиента"
                />
            </div>
            <div class="form-group">
                <label for="exampleInputPhone1">Телефон</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputPhone1"
                    name="phone"
                    placeholder="Введите номер телефона"
                />
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}
