{% extends "base.html" %}

{% block title %}
    Новый суд
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="text-center">
            <h1>Новый суд</h1>
            <hr />
        </div>

        <form method="post" onsubmit="return validateCourtForm()">
            <div class="form-group">
                <label for="exampleInputTitle1">Название суда</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputTitle1"
                    name="title"
                    aria-describedby="titleHelp"
                    placeholder="Введите название суда"
                />
            </div>
            <div class="form-group">
                <label for="exampleInputAddress1">Адрес суда</label>
                <input
                    type="text"
                    class="form-control"
                    id="exampleInputAddress1"
                    name="address"
                    placeholder="Введите адрес суда"
                />
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
{% endblock %}
